.header
  .vert-text
    text-align left
    padding-left 15%

#about
  background-image url('../img/square_bg.png')
  background-repeat repeat-x repeat-y
  
  a
    color #333
    text-decoration none

    &:hover
      text-decoration underline

  p.lead
    text-indent 15px
    font-size 16px !important

.callout
  background-image url('../img/dark_wall.png') !important
  background-repeat repeat !important

.footnote
  font-size 12px
  font-style italic
  margin-top 30px
  margin-bottom 0px
  color #666

@media
(-webkit-min-device-pixel-ratio: 1.5)
(-moz-min-device-pixel-ratio: 1.5)
(min-device-pixel-ratio: 1.5)
  #about
    background-image url('../img/square_bg_@2X.png')
  .callout
    background-image url('../img/dark_wall_@2X.png') !important