.header .vert-text {
  text-align: left;
  vertical-align: top;
  padding-top: 210px;
  padding-left: 145px;
}
.header .vert-text h1 {
  font-size: 4em;
}
.header .vert-text h3 {
  margin-top: 10px;
}
.header .vert-text .btn-primary {
  margin-top: 10px;
  margin-left: 50px;
}
#about {
  padding: 20px 0;
}
#about h2 {
  margin-bottom: 20px;
}
#about h2 a {
  color: #333;
  text-decoration: none;
}
#about p.lead {
  text-indent: 15px;
  font-size: 16px !important;
}
.footnote {
  font-size: 12px;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #666;
}
@media (max-width: 768px) {
  .header .vert-text {
    padding-left: 55px;
  }
  .header .vert-text .btn-primary {
    margin-left: 0px;
  }
}
