.header
  .vert-text
    text-align left
    vertical-align top
    padding-top 210px
    padding-left 145px

    h1
      font-size 4em

    h3
      margin-top 10px

    .btn-primary
      margin-top 10px
      margin-left 50px


@media (max-width: 768px)
  .header
    .vert-text
      padding-left 55px

      .btn-primary
        margin-left 0px
