.header
  .vert-text
    text-align left
    vertical-align top
    padding-top 200px
    padding-left 160px

    h1
      font-size 4em

    h3
      font-size 1.6em
      margin-top 10px

    .btn-primary
      margin-top 10px
      margin-left 50px

#about
  background-image url('../img/square_bg_@2X.png')
  background-repeat: repeat-x repeat-y;
  padding 20px 0
  
  h2
    margin-bottom 20px

    a
      color #333
      text-decoration none

  p.lead
    text-indent 15px
    font-size 16px !important

.footnote
  font-size 12px
  font-style italic
  margin-top 30px
  margin-bottom 0px
  color #666

.strike
  text-decoration line-through

@media (max-width: 768px)
  .header
    .vert-text
      padding-left 50px

      .btn-primary
        margin-left 0px
